{:source-paths ["src"]

 :dependencies [[binaryage/devtools "0.9.10"]
                [proto-repl "0.3.1"]
                [reagent "0.8.0"]
                [cljs-node-io "1.1.2"]]

 :nrepl        {:port 3333}

 :builds
 {:app {:target :browser
        :output-dir "public/js"
        :asset-path "/js"

        :modules
        {:main
         {:entries [reactBikes.core]}}

        :devtools
        {:after-load  reactBikes.core/main
         :http-root   "public"
         :http-port   3000}}}}
